* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 1.25vw;
  padding-top: 0;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}

header {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 3vw;
}

button,
.file-upload {
  background-color: transparent;
  border: none;
  border-bottom: 0.15vw solid #232323;
  color: #232323;
  padding: 0 0.35vw;
  padding-bottom: 0.25vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  outline: none;
  margin-top: -0.35vw;
  cursor: pointer;
}

.round-button {
  border: 0.1vw solid #232323;
  border-radius: 1.35vw;
  padding: 0.55vw 1.35vw;
  letter-spacing: 0.05vw;
  transition: all 0.35s ease-out;
}

.round-button:hover,
.round-button:focus {
  color: white;
  background-color: #232323;
}

input[type=text] {
  font-size: 1vw;
  color: #232323;
  letter-spacing: 0.1vw;
  padding: 0.55vw 1.35vw;
  border: none;
  border-bottom: 0.1vw solid #232323;
  transition: all 0.35s ease-in-out;
}

input[type=text]:focus {
  outline: none;
}

.meme-uploader-container {
  width: 100%;
  padding: 0 8.5vw;
  padding-left: 15vw;
  margin-top: 1.5vw;
  display: flex;
  justify-content: space-evenly;
}

.meme-link-upload {
  width: 70%;
}

.link-input {
  width: 70%;
  margin-right: 5%;
}